html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.nav {
    background-color:rgb(201, 172, 227);
}

.link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: black;
    text-decoration: none;
}

.nav_wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 60px
}

.banner {
    background-image: url(./images/placeholder_fitness_image.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 0px;
    margin-left: 0px;
}

.name_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: 228px 228px 228px;
    align-items: center
}

.first_name {
    font-size: 70px;
    color: #09095c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}

.last_name {
    font-size: 70px;
    color:#09095c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-column: 4 / 4;
    grid-row: 2 / 2;
}

.circle_img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.icon_location {
    grid-column: 3 / 3;
    grid-row: 2 / 2;
}

.description {
    grid-column: 2 / 5;
    grid-row: 3 / 3;
    font-size: 30px;
    color:#09095c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:rgb(193, 221, 223);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color:rgb(255, 255, 255);
    display: block;
    transition: 0.3;
}

.sidebar a:hover {
    color:#09095c;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    color:#09095c;
    padding: 10px 15px;
    border: none;
    position: fixed;
    background-color: white;
}


.aboutme_wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(20, 114px);
}

.aboutme_style {
    background-color:beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-decoration: none;
    padding: 60px 20px 20px 50px;
    color:rgb(45, 33, 9);
}

.brown {
    background-color: rgb(153, 134, 100);
    border-radius: 50%;
}
