.nav {
    background-color:rgb(201, 172, 227);
}

.link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: black;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.first_name {
    font-size: 30px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-column-start: 2;
    grid-column-end: 2;
}

.last_name {
    font-size: 30px;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-column-start: 4;
    grid-column-end: 4;
}